.header{
    background-color: #F0A2F3;
    text-align: center;
    padding:32px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom: 4px solid #A6A2F3;
    border-top: 4px solid #A6A2F3;
}

.first-paragraph{
    text-align: center;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: #F5E7F5;
}

img{
    border:5px solid #F297F2;
    width: 20%;
    height: 20%;
}

.random-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.images{
    display: block;
    margin-left: auto;
    margin-right: auto;
}